body {
  background-color: #999;
  width: 900px;
  margin: 60px auto;
}

#map {
  height: 900px;
  width: 900px;
}

#hour {
  font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Verdana", "sans-serif";
  color: white;
  font-size: 3em;
  font-weight: bold;
}
